/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */

p {
    color: #181e2b;
}

.product-plp-grid .product-grid.btn-grey>.fl-button {
    display: block !important;
}

.fl-page {
    width: auto;
}

.fl-page .fl-content-full.container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.container {
    width: 100%;
/*     max-width: 1250px; */
	max-width: 1680px;
}
@media (min-width: 1100px){
	.fl-full-width .container {
		padding-left: 40px;	
		padding-right: 40px;	
	}
}
h1,
h2,
h3,
h4 {
    font-weight: 500 !important;
}

.fab {
    font: normal normal normal 14px/1 FontAwesome;
}

p:last-child {
    margin-bottom: 0;
}

a.button,
a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button,
.fl-builder-content a.fl-button:visited,
a.uabb-button.uabb-creative-button.uabb-creative-flat-btn.uabb-none-btn {
    opacity: 0.7;
}

a.button:hover,
a.fl-button:hover,
a.fl-button:visited:hover,
.fl-builder-content a.fl-button:hover,
.fl-builder-content a.fl-button:visited:hover,
a.uabb-button.uabb-creative-button.uabb-creative-flat-btn.uabb-none-btn:hover {
    opacity: 1;
}

a.fl-button:hover *,
a.fl-button:visited:hover *,
.fl-builder-content a.fl-button:hover *,
.fl-builder-content a.fl-button:visited:hover * {
    opacity: 1;
}
.top-heading h3 {
    text-align: center;
}
.max-1660 {
    max-width: 1660px;
    margin: 0 auto;
}

.navbar .nav .menu-item-has-children:after {
    content: "\f107";
    font-family: FontAwesome !important;
    font-size: 120%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 0 0px 0 -10px;
    font-weight: 400;
    vertical-align: middle;
}

.navbar .nav .menu-item-has-children>a:after,
.navbar .nav .sub-menu .menu-item-has-children:after {
    display: none;
}

.navbar .nav .sub-menu .menu-item-has-children>a:after {
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.sub-menu li .yawp_wim_wrap .widget-area .yawp_wim_title {
    display: none;
}

header.fl-page-header .phone-no {
    float: right;
    order: 2;
    border-left: 1px solid #fff;
    padding: 5px 0 5px 20px;
    margin-left: 20px;
    font-weight: 700;
}

header.fl-page-header .phone-no i {
    color: #767676;
    font-size: 120%;
}

header.fl-page-header .phone-no a {
    color: #767676;
}

.fl-page-nav ul.sub-menu {
    border-color: #fff;
}

.fl-page-nav ul.sub-menu li a {
    font-weight: bold;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li {
    display: inline-block;
    float: none;
    margin-right: 10px;
}

.fl-page-nav-right .fl-page-nav ul.sub-menu:before {
    bottom: 100%;
    left: 25%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu .sub-menu:before {
    display: none;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu .sub-menu {
    border: 1px solid #e7e3e3;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu>a:before,
.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu>a:after {
    content: "";
    display: block;
    top: 100%;
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    margin-top: -2px;
    z-index: 1001;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu>a:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #ffffff;
    border-width: 10px;
    margin-left: -10px;
    margin-top: 1px;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu>a:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #e7e3e3;
    border-width: 11px;
    margin-left: -11px;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu:hover>a:after,
.fl-page-nav-right .fl-page-nav ul.navbar-nav>li.mega-menu:hover>a:before {
    opacity: 1;
    visibility: visible;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a {
    padding: 15px 15px;
    color: #767676;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 15px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent>a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item>a,
.fl-page-nav-right .fl-page-nav ul.navbar-nav>li:hover>a,
.fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:focus {
    color: #44a9e6;
}

.fl-page-nav-right .fl-page-nav ul.navbar-nav>li:last-child>a {
    margin-right: 0;
}

.menu-main-verticle-tabs-wrap .fl-row-content-wrap {
    padding: 0px;
}

.verticle-tabs-container-wrap .fl-row-content-wrap .fl-col-content {
    border: 1px solid #979797;
}

.verticle-tabs-container-wrap .fl-row-content-wrap .fl-col-content .fl-heading a {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-shadow: 1px 3px 3px #000000;
    text-transform: uppercase;
    padding: 0px;
}

.verticle-tabs-container-wrap .fl-row-content-wrap .fl-col-content .fl-heading a span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-verticle-tabs-container-wrap .fl-module-content {
    margin: 0px;
}

.menu-verticle-tabs-container-wrap .fl-module-content .fl-tabs-vertical .fl-tabs-labels {
    width: 17.9%;
    background-color: #d8d8d8;
}

.menu-verticle-tabs-container-wrap .fl-module-content .fl-tabs-vertical .fl-tabs-labels:before {
    display: block;
    content: " ";
    background: #d8d8d8;
    height: 111.6%;
    ;
    width: 19.6%;
    left: -20px;
    z-index: -1;
    position: absolute;
    top: -20px;
}

.menu-verticle-tabs-container-wrap .fl-module-content .fl-tabs-vertical .fl-tabs-panels {
    width: 80%;
    border: 0px;
    padding: 0px;
}

.menu-verticle-tabs-container-wrap .fl-module-content .fl-tabs-vertical .fl-tabs-panels .fl-tabs-panel-content {
    padding: 0px;
}

.menu-verticle-tabs-container-wrap .fl-tabs-label.fl-tab-active {
    background: none;
}

.menu-verticle-tabs-container-wrap .fl-tabs-label.fl-tab-active:after {
    content: ' > ';
    display: inline-block;
}

.menu-main-verticle-tabs-wrap>.fl-module-content {
    margin-right: -1px !important;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-labels {
    width: 17.9%;
    margin-top: 20px;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label {
    font-size: 16px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    margin-right: 30px;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label a:after {
    content: "\f105";
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: middle;
    line-height: 0;
    position: relative;
    top: -2px;
    right: 10px !important;
    width: auto !important;
    font-size: 130%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label a {
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    padding: 12px 20px;
    display: block;
    font-weight: 500;
}

ul.navbar-nav li.mega-menu>ul.sub-menu {
    padding: 20px 0px 20px;
}


/* .menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label a:hover{
    color: #428bca;
} */

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label.fl-tab-active a:after {
    opacity: 1;
    visibility: visible;
    right: -10px !important;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-labels .fl-tabs-label.fl-tab-active:after {
    opacity: 1;
    visibility: visible;
    right: -10px !important;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-panels {
    width: 80%;
    background: #fff;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-panel-content>p {
    margin: 0;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-panel-content .flooring-top-link-boxes .fl-heading>a {
    display: block;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
}

.menu-main-verticle-tabs-wrap .fl-tabs-vertical .fl-tabs-panel-content .flooring-top-link-boxes .fl-heading>a .fl-heading-text {
    color: #fff;
}

.menu-main-verticle-tabs-wrap .fl-module-heading,
.menu-main-verticle-tabs-wrap .fl-module-heading * {
    height: 100%;
}

.menu-main-verticle-tabs-wrap .fl-module-heading .fl-module-content {
    margin: 0;
}

.menu-main-verticle-tabs-wrap .fl-module-heading .fl-heading {
    display: table;
    width: 100%;
}

.menu-main-verticle-tabs-wrap .fl-module-heading .fl-heading>a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    text-align: left;
    font-size: 20px;
    padding: 10px !important;
}

.menu-main-verticle-tabs-wrap .fl-module-heading .fl-heading>a * {
    color: #fff;
}

.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button {
    display: block!important;
    text-align: center!important;
}

.getting-started-three-boxes .fl-col-group .fl-col-content .fl-module-content .fl-cta-text .fl-cta-title {
    min-height: 80px;
    margin-bottom: 20px;
}

.getting-started-three-boxes .fl-col-group .fl-col-content .fl-module-content .fl-cta-text .fl-cta-text-content {
    min-height: 100px;
}

.brands-row .fl-col-small {
    width: 16.66%;
}

.customber-thankyou {
    box-shadow: 0 0 5px 0 #ccc;
}

.customber-thankyou h2 {
    margin: 30px 0;
    display: block;
}

.customber-thankyou h6.completed_review {
    background: #4d3934 !important;
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 40px;
}


/* Top Bar 1 */

.custom_searchHeader {
    cursor: pointer;
}

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 176px;
    padding: 5px 0;
}

.location-icon {
    border-left: 1px solid #d5d5d6;
    border-right: 1px solid #d5d5d6;
}

.location-icon .d-flex {
    display: flex;
}

.location-icon .info {
    margin: 0 15px;
}

.location-icon .info h6 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
}

.location-icon .info p {
    color: #B1957F;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.location-icon {
    cursor: pointer;
}

.location-icon img.que-icon {
    width: 21px;
    height: 21px;
    margin-top: 10px;
}

.location-icon img.loc-icon {
    width: 24px;
    height: 34px;
}


/* location dropdown template */

.locations-box ul.storename {
    margin: 0;
}

.locations-box ul.storename .store-container .address a {
    color: #181E2B;
}

.locations-box ul.storename .store-container .address a p {
    margin: 0;
    padding: 0;
    color: #181E2B;
}

.locations-box ul.storename .phone {
    border-bottom: 1px solid #D5D5D6;
    padding-bottom: 15px;
}

.locations-box ul.storename .phone a {
    color: #B1957F;
    font-size: 22px;
    line-height: 24px;
}

.locations-box .uabb-infobox-text.uabb-text-editor h6 {
    color: #181E2B;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.locations-box ul.storename .store-opening-hrs-container {
    border-bottom: 1px solid #D5D5D6;
    padding-bottom: 15px;
}

.locations-box ul.storename .direction a,
.locations-box ul.storename .direction a span,
.locations-box .uabb-infobox-text.uabb-text-editor a.links {
    background: none;
    border: 0;
    color: #B1957F !important;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 7px;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    display: block !important;
    text-transform: uppercase;
    opacity: 1;
}

.locations-box ul.storename .direction a:hover,
.locations-box ul.storename .direction a:hover span,
.locations-box .uabb-infobox-text.uabb-text-editor a.links:hover,
.locations-box ul.storename .phone a:hover {
    color: #4d3934 !important;
}

.storename .phone a span:before {
    content: "\f879";
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    font-weight: 900;
    text-rendering: auto;
    line-height: 1;
    margin-right: 8px;
}


/* location dropdown template */

.homa_page_bnr .fl-slide-1 .fl-slide-content-wrap {
    width: 100%;
}

.homa_page_bnr .fl-slide-1 .fl-slide-content {
    background: none;
}

.we-have-section h2.uabb-infobox-title span {
    color: #966F68;
    font-weight: 500;
    display: block;
}

.footer-newsletter .gform_wrapper .gform_footer input[type=submit] {
    width: 100%;
    background: #4D3934 !important;
    color: #fff !important;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    height: 52px;
    opacity: 0.7;
}

.footer-newsletter .gform_wrapper .gform_footer input[type=submit]:hover {
    opacity: 1;
}

.footer-newsletter .gform_wrapper .top_label input.large {
    width: 100%;
    background: #D8D8D8 !important;
    color: #352E26;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    height: 52px;
}

.footer-newsletter .gform_wrapper .top_label input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #352E26;
    opacity: 1;
    /* Firefox */
}

.footer-newsletter .gform_wrapper .top_label input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #352E26;
}

.footer-newsletter .gform_wrapper .top_label input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #352E26;
}

footer .rugs a {
    color: #151515;
}

.homepage-flooring .arrow i {
    margin-left: 10px;
}

.homepage-flooring .arrow i {
    margin-left: 10px;
}

.homepage-flooring .arrow p img {
    width: 50px !important;
    height: 50px !important;
    position: static !important;
    margin: 0 auto 10px !important;
}

.homepage-flooring .uabb-ib1-block .mask {
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.homa_page_bnr a.slider-prev svg,
.flooring-slider a.slider-prev svg {
    background: url(https://floorstores-new.mm-dev.agency/wp-content/uploads/2021/05/lft-arrow.png) 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
}

.homa_page_bnr a.slider-next svg,
.flooring-slider a.slider-next svg {
    background: url(https://floorstores-new.mm-dev.agency/wp-content/uploads/2021/05/rgt-arrow.png) 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
}

.homa_page_bnr .fl-content-slider-navigation svg path,
.flooring-slider .fl-content-slider-navigation svg path {
    display: none;
}

html.firefox .bx-wrapper .bx-loading {
    display: none;
}

html.firefox .fl-content-slider .bx-wrapper .fl-slide {
    visibility: visible;
}

html.firefox .bx-viewport {
    overflow: visible !important;
}


/* mega menu */

header .header-mega-menu .menu {
    position: static;
}

header .header-mega-menu .menu li.mega-menu .sub-menu {
    top: inherit !important;
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
    /* display: flex !important; */
    margin: 0 -20px !important;
    background: #fff;
    border: 0;
    border-top: 3px solid #4D3934;
    padding-top: 25px;
    z-index: 999;
}

header .header-mega-menu .menu li.mega-menu ul.sub-menu li {
    width: 100%;
}

header .header-mega-menu .menu li.mega-menu {
    position: static;
}

header .header-mega-menu .menu li.mega-menu .sub-menu li .fl-row-content-wrap {
    margin-top: 0px!important;
}

header .header-mega-menu .menu li.mega-menu .sub-menu li .uabb-photo-gallery-item {
    width: 11% !important;
}


header .header-mega-menu .menu li.mega-menu .sub-menu li .uabb-photo-gallery {
    display: flex;
    justify-content: center;
}

header .header-mega-menu .menu li.mega-menu .sub-menu li .uabb-photo-gallery .uabb-photo-gallery-content {
    transition: transform .5s;
}

header .header-mega-menu .menu li.mega-menu .sub-menu li .uabb-photo-gallery-item:hover .uabb-photo-gallery-content {
    box-shadow: 0 5px 5px -3px #333;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

header.fl-theme-builder-header-sticky.fl-theme-builder-header-scrolled.fl-theme-builder-header-shrink .uabb-photo-gallery .uabb-gallery-img,
header .header-mega-menu .menu li.mega-menu .sub-menu li .uabb-photo-gallery .uabb-gallery-img {
    max-height: 100% !important;
}


/* mega menu css end */

.header-mega-menu .uabb-creative-menu .menu>li:hover>.uabb-has-submenu-container>a {
    color: #2D261F;
    font-weight: 500;
}


/* mega menu navigation images gallery code open here  */

.mega_navigation_gallery .uabb-photo-gallery-caption, .mega_navigation_gallery .uabb-photo-gallery-caption a {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400 !important;
    overflow: unset;
    text-overflow: unset;
    white-space: unset;
    text-transform: uppercase;
    padding: 15px 0;
    color: #464C57;
    cursor: pointer;
    font-family: Sen, sans-serif;
}
header .header-mega-menu .menu li.mega-menu .sub-menu li .uabb-photo-gallery-item:hover .uabb-photo-gallery-caption, header .header-mega-menu .menu li.mega-menu .sub-menu li .uabb-photo-gallery-item:hover .uabb-photo-gallery-caption a {
    font-weight: 500 !important;
    color: #4D3934 !important;
}
.mega_navigation_gallery img.uabb-gallery-img {
    border-radius: 4px;
}


/* mega menu navigation images gallery code end  here  */


/* location css */

.location-get-direction .address a p,
.location-get-direction ul.storename .phone a {
    font-family: Sen, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #181E2B;
    margin: 0;
}

.location-get-direction .direction a {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid #432E26;
    background: #432E26;
    width: 200px;
    display: block;
    text-align: center;
    opacity: 0.7;
}

.location-get-direction .direction a:hover {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    border: 1px solid #432E26;
    background: #432E26;
    width: 200px;
    display: block;
    text-align: center;
    opacity: 1;
}
.location-get-direction .address {
    padding-left: 25px;
    position: relative;
}

.location-get-direction .address a::before {
    content: "\ea32" !important;
    font-family: 'Ultimate-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    font-size: 30px;
    position: absolute;
    left: -7px;
    top:3px;
}
/* location css */

.uabb-testimonial-info i.fas.fa-quote-right {
    color: #966F68;
    display: block;
    font-size: 30px !important;
    margin-bottom: 10px;
}

.uabb-infobox-text.uabb-text-editor a {
    color: #966F68;
}

.roomvo-get-started-btn .fl-html {
    text-align: center;
}

.roomvo-get-started-btn .fl-html a,
.draw-my-room-btn .fl-html a {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #4d3934;
    border: 1px solid #4d3934;
    color: #fff;
}

.roomvo-get-started-btn .fl-html a:hover,
.draw-my-room-btn .fl-html a:hover {
    background: #4d3934;
}

ul.social-icons li a {
    background: #000;
    width: 30px;
    text-align: center;
    color: #fff !important;
    padding: 5px;
    border-radius: 5px;
}

ul.social-icons li a i {
    color: #fff !important;
    font-size: 18px;
}


/* Slider dots  */

.flooring-slider .fl-content-slider .fl-slide-bg-photo {
    width: 83%;
    margin: auto;
}

.bx-wrapper .bx-pager-item {
    vertical-align: middle;
}

.bx-wrapper .bx-pager.bx-default-pager a {
    background: #DDCEC2 !important;
    opacity: 1;
}

.bx-wrapper .bx-pager.bx-default-pager a.bx-pager-link.active {
    width: 12px;
    height: 12px;
    border-radius: 100%;
    position: relative;
    background: #655551 !important;
}

.bx-wrapper .bx-pager.bx-default-pager a.bx-pager-link.active:before {
    content: " ";
    border: 1px solid #655551;
    position: absolute;
    width: 20px;
    height: 20px;
    left: -4px;
    right: 0;
    top: -4px;
    bottom: 0;
    text-align: center;
    border-radius: 100%;
}


/* Slider dots  */


/* Blog css open */

body.blog .fl-archive.container,
body.archive.category .fl-archive.container {
    width: 100%;
    max-width: 1680px;
    padding-left: 40px;
    padding-right: 40px;
}

body.blog .row.fl-post-image-beside-wrap,
body.archive.category .row.fl-post-image-beside-wrap {
    display: flex;
    border: 1px solid #966F68;
    align-items: center;
    /* margin: 0; */
}

body.blog .fl-archive.container .row,
body.archive.category .fl-archive.container .row {
    margin: 0;
}

body.blog .fl-post .fl-post-image-beside,
body.archive.category .fl-post .fl-post-image-beside {
    width: 40%;
}

body.blog .fl-post-content-beside,
body.archive.category .fl-post-content-beside {
    width: 60%;
}

body.blog .fl-post .fl-post-image-beside .fl-post-thumb,
body.archive.category .fl-post .fl-post-image-beside .fl-post-thumb {
    margin-bottom: 0;
}

body.blog .fl-post-content-beside .fl-post-content,
body.archive.category .fl-post-content-beside .fl-post-content {
    padding: 20px 20px 20px 0;
}

body.blog .fl-content-left,
body.archive.category .fl-content-left {
    border-right: 0;
}

body.blog .fl-sidebar-right,
body.archive.category .fl-sidebar-right {
    border: 1px solid #966F68;
    padding: 40px;
}

body.blog header.fl-post-header,
body.archive.category header.fl-post-header {
    display: none;
}

body.blog header.fl-post-header.fl-post-custom-header,
body.archive.category header.fl-post-header.fl-post-custom-header {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 20px 0 0;
}

body.blog header.fl-post-header.fl-post-custom-header h1,
body.blog header.fl-post-header.fl-post-custom-header h2,
body.archive.category header.fl-post-header.fl-post-custom-header h1,
body.archive.category header.fl-post-header.fl-post-custom-header h2 {
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #181E2B;
    margin: 0;
}

body.blog header.fl-post-header.fl-post-custom-header .fl-post-meta.fl-post-meta-top span,
body.archive.category header.fl-post-header.fl-post-custom-header .fl-post-meta.fl-post-meta-top span {
    color: #464C57;
    font-weight: 400;
    font-family: Sen, sans-serif;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
    display: block;
}

.blog_head_wrap {
    margin-top: 60px;
    padding: 0 15px;
}

.blog_head_wrap h1,
body.archive.category .fl-archive .fl-archive-title {
    margin: 0;
    font-size: 50px;
    line-height: 62px;
    letter-spacing: 0px;
    color: #333;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
}

.blog_head_wrap p {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: 0px;
    color: #333;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
}


/* Blog css closed  */


/* module info p tag spaces */

.fl-module-info-box .uabb-infobox-text.uabb-text-editor p:last-child {
    padding: 0;
}

.fl-module-info-box .uabb-infobox-text.uabb-text-editor p {
    margin: 0;
}


/* module info p tag spaces */

.fl-page-cart {
    position: relative;
    display: block;
    float: right;
    padding: 7px 25px;
    font-size: 1.5em;
}

.fl-page-nav-search a.fa-search {
    color: #2d2d2d;
    right: auto;
}

.fl-page-nav-search-wrap {
    position: relative;
    display: inline-block;
    text-align: right;
}

.wt_menu .current-menu-item a {
    color: #9b9b9b !important;
}

.gform_wrapper .gfield input,
.gform_wrapper .gfield select,
.gform_wrapper .gfield textarea,
.gform_wrapper .gfield_checkbox input {
    background: #F5F2EF !important;
    border-radius: 2px !important;
}

.gform_wrapper .gform_footer input[type=submit] {
    background: #4D3934 !important;
    color: #fff !important;
    border-radius: 2px !important;
    opacity: 0.7 !important;
    display: block !important;
    height: 54px;
    /* margin: 0 auto !important; */
}

.gform_wrapper .gform_footer input[type=submit]:hover {
    opacity: 1 !important;
}
.contact-main-form .gform_wrapper .gform_footer input[type=submit] {
    margin: 0 auto !important;
    width: 250px !important;
}
.flooringfrom .gform_wrapper .gform_footer input[type=submit]{
    width: 250px !important;
}
.gform_wrapper li.gfield li label,
.uabb-gf-style form .gform_body .gfield_label {
    font-family: Sen, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #464C57;
}

.gform_wrapper li.gfield .ginput_container.ginput_recaptcha {
    /* padding-top: 44px; */
    display: block;
}

.gform_legacy_markup_wrapper .gsection {
    border: 0 !important;
}

.gform_legacy_markup_wrapper h2.gsection_title {
    font-family: Poppins, sans-serif;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 30px !important;
    color: #966F68 !important;
    position: relative;
}

.gform_legacy_markup_wrapper h2.gsection_title:before {
    content: ' ';
    position: absolute;
    height: 1px;
    right: 0;
    background: #966F68;
    top: 0;
    width: 69%;
    bottom: 0;
    margin: auto;
}


/* Search */

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: relative;
}

.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}

.fl-page-nav-search form {
    background-color: #212121;
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: absolute;
    right: 0px;
    top: 63px;
    width: 1040px;
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

.offer-banner-img-megamenu .fl-photo-content a {
    margin: 0px!important;
    padding: 0px!important;
}
.vinyl-care-and-maintenance-content .uabb-infobox-text.uabb-text-editor ol {
    padding: 30px 0 0 20px;
}


@media screen and (max-width: 1099px) {
    .fl-page-nav-search form {
        background-color: #767676;
        border-top: 0px solid #a1c5e5;
        display: none;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 100%;
    }
}

@media (max-width: 768px) {
    .header-boxed-1 .fl-slide-content-wrap {
        padding: 0px;
    }
}


/* home full bar */

@media(min-width:1500px) {
    .full-bar-lg .fl-module {
        margin-left: 25%;
    }
}


/* Web Forms */

.web-form input {
    border-radius: 0 !important;
}

.web-form .gform_body label {
    font-weight: 300 !important;
}

.web-form .gform_footer {
    text-align: center !important;
}

.web-form .button {
    padding: 10px 30px;
    color: #fff !important;
    border: none !important;
}

.web-form .gform_wrapper div.validation_error {
    color: #790000 !important;
}

.web-form .textarea {
    border-radius: 0 !important;
    max-height: 120px;
}

.web-form select {
    padding: 6px !important;
}

.web-form .ginput_container_time select {
    padding: 0 !important;
}

.ui-datepicker-title {
    color: #333;
}

.web-form button:hover,
.web-form input[type=button]:hover,
.web-form input[type=submit]:hover {
    background: #B31A21 !important;
    border: none;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 2px !important;
    margin-right: 5px !important;
    background: #F5F2EF !important;
    border-radius: 2px !important;
}

.default-form h1 {
    line-height: 1em;
    font-weight: 700 !important;
    font-size: 3.3em !important;
}


/* 500 Coupon Page */

.coupon h2 {
    font-size: 2.5em;
    line-height: 1em;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.coupon h1 {
    font-size: 4.5em;
    font-weight: 700;
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.coupon h3 {
    line-height: 1em;
}

.coupon h4 {
    font-size: 1.2em;
    font-weight: normal;
}


/* Tabs 1 */

.tabs-1 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-1 .fl-tabs-label {
    border-color: transparent !important;
    width: 25%;
    margin-bottom: 40px;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-panel-content .row {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
}

.tabs-1 .fl-row-fixed-width,
.tabs-1 .fl-row-content-wrap {
    max-width: 100% !important;
    margin: 20px 0 !important;
    padding: 0 !important;
}

.tabs-1 .fl-tabs-panel-content {
    padding: 0;
    margin: 0;
    width: 100%;
}

.tabs-1 .fl-tabs-panels,
.tabs-1 .fl-tabs-panel {
    border: none;
}

.fl-tabs-labels .fl-tabs-label {
    outline: none !important;
}


/* Tabs */

.tabs-2 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-2 .fl-tabs-label {
    border-color: transparent !important;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.tabs-2 .fl-tabs-labels {
    max-width: 82%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-3 .fl-tabs-label {
    max-width: 33%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .tabs-3 .fl-tabs-label {
        max-width: 100%;
        white-space: nowrap;
    }
}

.tabs-3 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
    padding-bottom: 40px;
}

.tabs-3 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-3 .fl-tabs-labels {
    max-width: 1020px !important;
    margin: 0 auto;
}

.tabs-3 .fl-tabs-panel-content {
    padding: 0 0 40px 0 !important;
    margin: 0 !important;
    background-color: #FAFAFA !important;
}

.tabs-3 .fl-tabs-panel-content .row {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.tabs-3 iframe {
    margin-top: -40px;
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-4 .fl-tabs-label {
    max-width: 25%;
    margin: 0 auto;
    text-align: center;
}

.tabs-4 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-4 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #CC252A;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 100%;
    border-radius: 100%;
}

.tabs-4 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}

.tabs-5 .fl-tabs-label {
    max-width: 20%;
    margin: 0 auto;
    text-align: center;
}

.tabs-5 .fl-tabs-labels {
    margin-bottom: 20px
}

.tabs-5 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 90%;
    position: absolute;
    left: 5%;
    bottom: 1px;
    border-width: 0 0 4px;
    border-style: solid;
    border-color: #4aaae4;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label {
    display: table-cell;
    width: 1%;
    float: none;
    border-radius: 0;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label span {
    display: table-cell;
    vertical-align: middle;
}

.tabs-products .fl-tabs-panel-content {
    padding-top: 40px !important;
}

.tabs-products h3 {
    font-size: 1.5em;
}


/* product row */

.product-row h4,
.product-row h5 {
    font-weight: 300;
    text-transform: uppercase;
}

.product-row h3 {
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .product-row.featured h3,
    .product-row.featured h4,
    .product-row.featured h5 {
        text-align: center !important;
    }
    .product-row.featured h4 {
        margin-bottom: 20px !important;
    }
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* Image Galleries */

.fl-post-grid-gallery {
    width: 300px;
    height: 300px;
    background-position: center!important;
}

.gallery-menu ul li a:hover {
    text-decoration: none;
}


/* Reviews */

.reviews h4 {
    margin-bottom: 0;
    padding-bottom: 0;
}

.reviews img {
    margin: 0;
    padding: 0 0 5px 0;
}

.associations ul li {
    padding: 5px 0;
    font-weight: 700;
}


/* Footer 1 */

.footer-1-top a:hover {
    text-decoration: none;
}

.footer-1-top h3.fl-heading {
    font-weight: 700 !important;
}

.footer-1-top .fl-social-icons {
    text-align: center !important;
}

.footer-1-top .fl-social-icons a.fl-icon {
    margin: 0 10px;
}


/* Slider Menu */

.slider-menu {
    position: absolute;
    right: 0px;
    z-index: 100;
    top: 0px;
    height: 460px;
    overflow: hidden;
}

.slider-menu ul {
    background-color: white;
    vertical-align: middle;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 65px;
    color: #2d2d2d;
    font-weight: bold;
    margin-right: -235px;
}

.slider-menu ul li {
    overflow: hidden;
    border: 1px solid #eee;
    border-width: 0px 0px 1px 0px;
    width: 300px;
}

.slider-menu .icon {
    float: left;
    font-size: 23px;
    width: 65px;
    text-align: center;
    border: 1px solid #eee;
    border-width: 0px 1px 0px 0px;
    cursor: pointer;
}

.slider-menu .padding {
    padding: 0px 15px;
    display: block;
}

.slider-menu a {
    color: #2d2d2d;
    float: left;
}

@media(max-width:768px) {
    .slider-menu {
        display: none;
    }
    
}


/* Popup */

.fr_popup {
    display: none;
}

.fr_popup .bg {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.fr_popup .content {
    position: absolute;
    z-index: 1001;
    width: 100%;
}

.fr_popup .content-inner {
    width: 628px;
    background-color: white;
    overflow: auto;
    margin: auto;
}

.fr_popup .content .row-item {
    padding: 30px 50px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.fr_popup .content .row-item * {
    margin: 0px;
}

.right {
    float: right;
}

.left {
    float: left;
}


/* FL Photo */

.fl-photo .has_coupon .over {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.fl-photo .has_coupon {
    cursor: default;
}

.fl-photo .has_coupon:hover .over {
    display: block;
}

.fl-photo .has_coupon .over-inner {
    display: table;
    height: 100%;
    width: 100%;
}

.fl-photo .has_coupon .over-inner2 {
    display: table-cell;
    vertical-align: middle;
}

.fl-photo .has_coupon .over .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-width: 140px;
    cursor: pointer;
}

.fl-photo .has_coupon .over .fl-button.white {
    border: 1px solid white;
    background-color: transparent;
}


/* TOGGLE BOX BOTTOM */

.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    display: none;
}

.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box .box_content table {
    width: 70%;
    table-layout: fixed;
    margin: 0 auto;
}

.fr_toggle_box .padding {
    padding: 40px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    min-height: 275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

[data-fr-link] {
    cursor: pointer;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white !important;
    color: #cc252a !important;
}

.fr_toggle_box .text {
    padding: 40px 0px 0px;
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}

.fr_toggle_box .text p {
    margin-top: 10px;
}

@media(max-width:1024px) {
    .fr_toggle_box {
        display: none;
    }
    .gform_legacy_markup_wrapper h2.gsection_title:before{
        width: 50%;
    }
    .navigation-col, .search-icon-col {
        display: none !important;
    }
    button#responsive-menu-button{
        top: 65px !important;
    }
    .flooring-banner {
        background: #ffffff4d;
    }
    #responsive-menu-container #responsive-menu ul.responsive-menu-submenu li.responsive-menu-item a.ar-link {
        color: #fff;
        padding-left: 15%;
    }
    th.tableDescription {
        width: 35%;
    }
}
@media (min-width:769px) and (max-width:1024px) {
    #shop-at-home-page li.gfield.gf_left_half.timeEstimate {
        width: 100% !important;
    }
    .iPad-font-break h2.uabb-infobox-title {
        font-size: 46px;
    }
    .iPad-land-w50 {
        width: 50%;
    }
    .location-icon{
        border-right: 0 solid #d5d5d6;
    }
}
.btn-white {
    background: #fff !important;
    color: #00247a !important;
    border: 1px solid #00247a !important;
    font-weight: 700;
}


/* Spotlights CSS */


/* Spotlight Layout 3 */

.spotlight-layout-3 .fl-col-group .fl-col:last-child .fl-col-content {
    position: relative;
}

.spotlight-layout-3 .fl-col-group .fl-col:last-child .fl-col-content:after {
    content: "";
    display: block;
    height: 100%;
    width: 100px;
    background: inherit;
    position: absolute;
    top: 0;
    right: 100%;
    transform-origin: top left;
    transform: skew(8deg, 0deg);
    -webkit-transform: skew(8deg, 0deg);
    -moz-transform: skew(8deg, 0deg);
    -o-transform: skew(8deg, 0deg);
    -ms-transform: skew(8deg, 0deg);
    z-index: 2;
}


/* Spotlight Layout 4 */

.spotlight-layout-4 .fl-col-group .fl-col:first-child .fl-col-content {
    position: relative;
}

.spotlight-layout-4 .fl-col-group .fl-col:first-child .fl-col-content:after {
    content: "";
    display: block;
    height: 100%;
    width: 102px;
    background: inherit;
    position: absolute;
    top: 0;
    left: 99.9%;
    transform-origin: top left;
    transform: skew(-8deg, 0deg);
    -webkit-transform: skew(-8deg, 0deg);
    -moz-transform: skew(-8deg, 0deg);
    -o-transform: skew(-8deg, 0deg);
    -ms-transform: skew(-8deg, 0deg);
    z-index: 2;
}


/* .gt_strd.spotlight-layout-4 .fl-col-group .fl-col:last-child .fl-col-content:after { 
    background: #767676;
} */


/* Spotlight Layout 5 */

.spotlight-layout-5 .fl-content-slider .fl-slide-content {
    margin: 20px;
}

.spotlight-layout-5 .fl-slide-title {
    color: #767676;
    font-size: 24px;
}

.spotlight-layout-5 .fl-slide-text,
.spotlight-layout-5 .fl-slide-text>* {
    font-size: 14px;
    line-height: 28px;
}

.spotlight-layout-5 .fl-slide-cta-button {
    padding-top: 30px;
}

.spotlight-layout-5 .fl-slide-cta-button .fl-button {
    padding: 10px 30px;
    font-size: 14px;
}

.spotlight-layout-5 .fl-slide-cta-button .fl-button:hover {
    border-color: #767676 !important;
}

.spotlight-layout-5 .fl-content-slider .fl-content-slider-navigation path {
    fill: #767676;
}


/* Spotlight Layout 6 */

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-foreground {
    padding: 0 40px;
}

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-content-wrap {
    float: right;
    text-align: left;
    width: 55%;
}

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-photo-wrap {
    float: left;
    padding: 20px;
    width: 45%;
}

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-photo-wrap .fl-slide-photo {
    margin: 0;
}

.spotlight-layout-6 .fl-content-slider .fl-slide-content {
    margin: 20px;
}

.spotlight-layout-6 .fl-slide-title {
    color: #767676;
    font-size: 24px;
}

.spotlight-layout-6 .fl-slide-text,
.spotlight-layout-6 .fl-slide-text>* {
    font-size: 14px;
    line-height: 28px;
}

.spotlight-layout-6 .fl-slide-cta-button {
    padding-top: 30px;
}

.spotlight-layout-6 .fl-slide-cta-button .fl-button {
    padding: 10px 30px;
    font-size: 14px;
}

.spotlight-layout-6 .fl-slide-cta-button .fl-button:hover {
    border-color: #767676 !important;
}

.spotlight-layout-6 .fl-content-slider .fl-content-slider-navigation path {
    fill: #767676;
}


/* Spotlight Layout 7 */

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-foreground {
    padding: 0 40px;
}

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-content-wrap {
    float: left;
    text-align: left;
    width: 55%;
}

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-photo-wrap {
    float: left;
    padding: 20px;
    width: 45%;
}

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-photo-wrap .fl-slide-photo {
    margin: 0;
}

.spotlight-layout-7 .fl-content-slider .fl-slide-content {
    margin: 20px;
}

.spotlight-layout-7 .fl-slide-title {
    color: #767676;
    font-size: 24px;
}

.spotlight-layout-7 .fl-slide-text,
.spotlight-layout-7 .fl-slide-text>* {
    font-size: 14px;
    line-height: 28px;
}

.spotlight-layout-7 .fl-slide-cta-button {
    padding-top: 30px;
}

.spotlight-layout-7 .fl-slide-cta-button .fl-button {
    padding: 10px 30px;
    font-size: 14px;
}

.spotlight-layout-7 .fl-slide-cta-button .fl-button:hover {
    border-color: #767676 !important;
}

.spotlight-layout-7 .fl-content-slider .fl-content-slider-navigation path {
    fill: #767676;
}


/* HP Products Boxes */

.hp-product-1 .njba-logo-carousel-main .njba-out-side .njba-logo-inner {
    border: none;
    background: none;
}

.hp-product-2 .njba-logo-grid-main .njba-out-side .njba-logo-inner {
    border: none;
    background: none;
}

.hp-product-3 .njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content {
    width: 50%;
    font-size: 13px;
    line-height: 24px;
}

.hp-product-4 .njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content {
    width: 50%;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    float: right;
}

.hp-product-4 .fl-module-njba-tabs .njba-tabs .njba-tabs-label .njba-tab-label-inner {
    padding: 10px 20px;
}

.hp-product-4 .fl-module-njba-tabs .njba-tabs .njba-tab-title {
    /*font-weight: */
}

.hp-products-6 .fl-callout .fl-callout-title {
    font-size: 18px;
    padding: 0;
}

.hp-products-7 .fl-callout .fl-callout-title {
    font-size: 18px;
    padding: 0;
}

.hp-products-7 .fl-callout .fl-callout-content {
    position: relative;
}

.hp-products-7 .fl-callout .fl-callout-content-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0 15px;
}

.hp-products-7 .fl-callout .fl-callout-text {
    font-size: 90%;
}

.hp-product-7 .njba-tabs .njba-tab-title {
    text-transform: uppercase;
}

.hp-products-7 .njba-content:after {
    content: "";
    display: table;
    clear: both;
}

.hp-product-7 .text-content {
    width: 50%;
    float: left;
    font-size: 13px;
    line-height: 24px;
}

.hp-product-7 .text-img {
    width: 45%;
    float: right;
    text-align: center;
}

.hp-product-7 .njba-tabs.njba-tabs-style-7.njba-tab-section-main {
    display: flex;
    flex-direction: column-reverse;
}


/* Menu  */

.fl-page-nav-right .fl-page-header-container {
    padding: 10px 0;
    max-width: 1250px;
    width: 100%;
}

@media (max-width:1367px) {
    .location-icon .info h6 {
        font-size: 12px;
    }
    .location-icon .info p {
        font-size: 12px;
        line-height: 20px;
    }
    .location-icon .info {
        margin: 0 8px;
    }
    .we-have-section .uabb-infobox-title {
        font-family: Poppins, sans-serif;
        font-weight: 500;
        font-size: 42px;
        line-height: 58px;
    }
}

@media (max-width:1280px) {
    .fl-page-nav-right .fl-page-header-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .fl-page-nav-right .fl-page-header-logo {
        padding: 0px!important;
    }
    .mega_navigation_gallery .uabb-photo-gallery-caption, .mega_navigation_gallery .uabb-photo-gallery-caption a {
        font-size: 13px !important;
    }
}

.fl-node-5be4ee16d7203 .fl-heading .fl-heading-text {
    font-weight: 300;
}

.fl-node-5c06883d6160a .fl-slide-0 .fl-slide-photo {
    height: 260px;
    bottom: 0;
    margin: auto !important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.fl-tabs-label {
    color: #949494 !important;
}

.fl-tabs-label.fl-tab-active {
    color: #222222 !important;
}

.gform_wrapper .gfield_time_hour,
.gform_wrapper .gfield_time_minute {
    max-width: none !important;
    width: 72px !important;
    margin-right: 10px !important;
}

.gform_wrapper .gfield_time_hour input,
.gform_wrapper .gfield_time_minute input {
    max-width: none !important;
    width: 55px !important;
}

.gform_wrapper .gfield_time_hour label,
.gform_wrapper .gfield_time_minute label {
    display: block;
    width: 100% !important;
}

.gform_wrapper .gfield_time_ampm {
    max-width: none !important;
    width: 100px !important;
}

.gform_wrapper li.gfield div.gfield_time_ampm select {
    width: 85px !important;
    text-align: left;
    max-width: none !important;
    height: auto;
}

.gform_wrapper .timeEstimate .gfield_time_hour i {
    width: 5px;
    font-weight: bolder;
    margin-top: -2px;
    margin-right: -8px;
    display: none;
}

body .gform_legacy_markup_wrapper .top_label div.ginput_container {
    margin-top: 0 !important;
}

.gform_wrapper.gform_legacy_markup_wrapper .gfield_time_hour input[type=number],
.gform_wrapper.gform_legacy_markup_wrapper .gfield_time_minute input[type=number] {
    width: auto !important;
    /* margin-top: 0 !important; */
}

li.gfield.gf_left_half.timeEstimate.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible input,
li.gfield.gf_left_half.timeEstimate.gfield_contains_required.field_sublabel_below.field_description_below.gfield_visibility_visible select {
    margin-top: 5px !important;
}

@media(max-width:900px) {
    .fl-page-header-logo-col {
        width: 100%;
    }
}

@media(max-width:768px) {
    .fl-page-header-logo-col {
        width: 100%;
    }
    #responsive-menu-button {
        top: 65px !important;
    }
    .searchBarTop {
        display: none;
    }
    .fr-slider .arrow {
        height: 80px;
        line-height: 80px;
    }
    .fl-node-5be4510d28a69.fl-module-heading .fl-heading {
        text-align: center;
    }
    .fl-node-5be442c535e25 {
        display: flex;
        padding: 10px 0;
        justify-content: center;
    }
    .fl-node-5be442c535e25 .fl-module-content {
        margin: 0;
    }
    .fl-node-5be442c535e25 .fl-col {
        margin: 0;
    }
    .fl-node-5be442c535e25 .fl-col.fl-node-5be5dfc9c4e3e {
        margin: 0 10px;
    }
    header .close_menu,
    header .show_menu,
    header .search_mobile,
    header .close_search {
        margin-top: 25px;
    }
    .navbar-nav>li {
        display: block;
        float: none;
    }
    nav.fl-page-nav.navbar.navbar-default,
    .fl-page-nav-collapse ul.navbar-nav {
        width: 100%;
    }
    .fl-node-5beda7e76ea83 {
        display: flex;
        justify-content: center;
    }
    .fl-node-58fab5c012487 p,
    .fl-node-58fab51c4e4ff p,
    .fl-node-5be49ecb044f8 p,
    .fl-node-5aabf8011359b p,
    .fl-social-icons {
        text-align: center !important;
    }
    .sc_mega_menu.active .secondary_menu .nav.navbar-nav.menu {
        margin: 0;
        padding: 0 15px;
    }
    .facet_filters {
        top: 0px;
        bottom: 0;
        height: auto;
    }
    .sc_mega_menu .fl-page-nav-wrap {
        top: 145px;
        bottom: 0;
        height: auto;
    }
    .fl-node-5be4895605f88 .fl-heading {
        text-align: center !important;
    }
    #sifContainer {
        width: auto !important;
        margin: 0 15px !important;
    }
    .fl-builder-content .fl-node-58b58157a16b3 h5 {
        text-align: center !important;
    }
    .fl-node-58af407a120f2 {
        max-width: 100% !important;
    }
    .fl-node-5c08bbf72601a .menu .fl-has-submenu .sub-menu {
        /* position: static; */
    }
    .web-form .gform_wrapper .timeEstimate .ginput_container_time select {
        width: 100px !important;
        max-width: 60px !important;
        white-space: nowrap;
    }
    /* mobile */
    .searchBarTop,
    .fl-page-nav-right .fl-page-nav-search {
        position: static;
    }
    .searchBarTop {
        margin: 0;
        padding: 0;
    }
    .fl-page-header-logo-col>.fl-page-nav-wrap,
    .fl-page-header-logo-col>.searchBarTop {
        flex: 1;
    }
    .fl-page-header-logo-col>.fl-page-header-logo {
        flex: 2;
    }
    .fl-page-nav-right .fl-page-header-container {
        padding: 10px 20px;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle * {
        color: #000000;
    }
    .fl-builder-content-84 {
        position: static;
        height: auto;
    }
    .fl-page-header-container.container {
        padding-top: 10px;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo {
        padding-bottom: 0;
        text-align: center;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-nav .navbar-toggle {
        top: 0;
        position: static;
    }
    /* .navbar-toggle {
        display: block;
    } */
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile .fl-page-header-logo {
        margin: 0;
    }
    .fl-page-nav-toggle-icon.fl-page-nav-toggle-visible-medium-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo-col {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .fl-page-nav-right .fl-page-nav-search {
        display: block;
    }
    .fl-page-nav-search form {
        width: calc(100vw);
        position: absolute;
        margin-left: -50vw;
        top: 100%;
        left: 50%;
    }
    .fl-node-5be442c535e25 .fl-col {
        margin: 0 10px;
    }
    /* .fl-builder-content .fl-node-58b58157a16b3 p {
        text-align: left !important;
    } */
    .fl-node-58fab3e96409b {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .fl-node-58fab3e96409b>.fl-col {
        width: 30% !important;
    }
    .fl-node-5c07f5b4dd652 {
        text-align: center;
    }
    .fl-node-5c07f5b4dd652 .fl-col {
        margin: 0 !important;
        display: inline-block;
    }
    #sifContainer {
        display: inline-block;
    }
    .fl-node-5c07f56f679ae {
        text-align: center;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        margin: 0 !important;
        padding: 30px;
        background: transparent;
        position: absolute;
        top: 0;
        text-align: center;
        left: 0;
        right: 0;
    }
    .toggle-image-thumbnails a {
        border: 3px solid white;
        width: 40px;
        height: 40px;
        display: block;
        float: left;
        margin-right: 5px;
        margin-top: 5px;
    }
    .facetwp-per-page {
        text-align: left !important;
    }
    .facetwp-pager {
        float: left;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        bottom: 0;
        margin: auto !important;
    }
    .fl-col-small {
        max-width: 700px;
    }
    footer .footer-1-top .fl-col-small {
        margin: 0px;
        width: 50%!important;
        display: inline-block;
        padding: 20px;
    }
    footer .footer-1-top .fl-col-small .resp-left {
        text-align: left!important;
    }
    .cat-boxes .fl-callout .fl-callout-content {
        max-width: 360px;
        margin: 0 auto;
    }
    .spotlight-layout-4 .fl-col-group .fl-col:first-child .fl-col-content:after,
    .spotlight-layout-3 .fl-col-group .fl-col:first-child .fl-col-content:after,
    .spotlight-layout-4 .fl-col-group .fl-col:last-child .fl-col-content:after {
        display: none;
        display: none;
    }
    footer .footer-1-top .fl-col-group-nested:first-child .fl-col-small {
        width: 33%!important;
    }
    .fl-menu .fl-menu-mobile-toggle {
        color: #fff!important;
    }
    .tabs-5 .fl-tabs-label {
        max-width: 100%;
    }
    .location-get-direction .fl-html, .location-hours .fl-rich-text {
        text-align: center;
    }
    .location-get-direction .direction a{
        margin: 0 auto;
    }
    li.gfmc-column.gfmc-row-1-column {
        width: 100% !important;
    }
    .gform_wrapper .gf_progressbar_percentage span {
       left: 42%;
    }
    .roomvo-get-started-btn .fl-html a, .draw-my-room-btn .fl-html a {
        margin: 0 auto;
        display: block;
        width: 200px;
    }
    .uabb-infobox-text.uabb-text-editor ul,  .uabb-infobox-text.uabb-text-editor ol {
        padding-left: 20px !important;
    }
    .gform_legacy_markup_wrapper h2.gsection_title:before{
        width: 50%;
    }
    .location-get-direction .address{
        display: inline-block;
    }
    .location-list-col {
        max-width: 200px !important;
    }
}

@media (max-width:567px) {
    footer .social-icons {
        text-align: center !important;
    }
    .fl-row .fl-row-content .flooring-off-resp {
        width: 50%!important;
    }
    #responsive-menu-button {
        top: 65px !important;
    }
    footer .footer-1-top .fl-col-small {
        margin: 0px;
        width: 100%!important;
        display: inline-block;
        padding: 0px 20px;
    }
    footer .resp-foot-section .fl-module-content {
        margin-top: 0px!important;
    }
    body {
        /* padding-top:150px; */
    }
    .fl-node-5be442c535e25 {
        padding: 10px 20px;
    }
    #djcustom-header {
        top: 45px !important;
    }
    header .close_menu {
        /* display: none; */
    }
    .facet_filters {
        top: 0px;
    }
    .tabs-1 .fl-tabs-label {
        color: #2d2d2d;
        width: 100%;
    }
    .fl-page-nav ul.sub-menu {
        width: auto;
    }
    .fl-builder-content .fl-node-58b58157a16b3 h5,
    .fl-node-58fab48ccb679.fl-module-heading .fl-heading,
    .fl-node-58fab44d7e59e.fl-module-heading .fl-heading {
        text-align: left !important;
        font-weight: bold;
    }
    #menu-footer-menu a {
        font-size: 14px;
    }
    .fl-node-5beb43b72f056 {
        display: none;
    }
    .fl-node-5be442c535e25 {
        padding: 8px 15px;
    }
    .fl-node-5beda7e76ea83 {
        flex-direction: column;
    }
    div#sifContainer {
        width: auto;
        text-align: center;
        padding: 10px;
        margin: 0 20px;
    }
    .fl-node-58fab5c012487 {
        padding: 0 25px;
    }
    .default-form h1 {
        font-size: 34px !important;
        word-wrap: normal;
    }
    .top-bar-1 .fl-heading {
        margin: 0;
    }
    footer .fl-col.fl-node-5beda7e76ec6f {
        margin-bottom: 0 !important;
    }
    .fl-node-58fab3e96409b>.fl-col {
        width: 100% !important;
    }
    /* detail page  */
    .product-box {
        clear: both;
        text-align: center;
    }
    .color-box {
        min-height: auto;
    }
    .product-variations {
        margin: 0;
    }
    .product-attributes {
        margin-top: 0;
    }
    .product-box a.fl-button {
        width: auto !important;
    }
    .fl-page-header-logo-col {
        width: 100%;
    }
    footer .footer-1-top .fl-col-group-nested:first-child .fl-col-small {
        width: 100%!important;
    }
    footer .footer-1-top .fl-col-group-nested:first-child .fl-col-small .resp-left {
        text-align: left!important;
    }
    body.blog .row.fl-post-image-beside-wrap, body.archive.category .row.fl-post-image-beside-wrap{
        flex-direction: column;
    }
    body.blog .fl-post .fl-post-image-beside, body.archive.category .fl-post .fl-post-image-beside, body.blog .fl-post-content-beside, body.archive.category .fl-post-content-beside {
        width: 100%;
        padding: 15px;
    }
    .logo .uabb-photo-mob-align-center {
        text-align: left;
    }
    .logo .uabb-photo-content .uabb-photo-img {
        width: 70%;
    }
    .gform_legacy_markup_wrapper h2.gsection_title:before{
        width: 40%;
    }
    a.learnmore {
        display: block;
        padding: 0 !important;
        margin: 0;
        font-size: 8px;
        text-align: center;
    }
    .uabb-close-custom-top-right {
        top: 50px;
        right: 7px !important;
    }
    .partners-section .uabb-photo-gallery-item.uabb-photo-item-grid {
        margin-bottom: 40px;
    }
    .uabb-modal-parent-wrapper .uabb-modal-content-data {
        padding-left: 10px;
        padding-right: 10px;
    }
    h1 {
        font-size: 44px !important;
        line-height: 50px !important;
    }
    h2 {
        font-size: 40px !important;
        line-height: 50px !important;
    }
    .uabb-modal-parent-wrapper.uabb-module-content .uabb-content {
        width: 90%;
        margin: 0;
    }
}

.fl-node-5be442c5366bc .fl-module-heading .fl-heading {
    text-align: left;
    font-size: 14px;
}

.broken_link,
a.broken_link {
    text-decoration: none !important;
}

.api-textbox,
.api-selectbox {
    width: 200px;
    padding: 4px 10px;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:focus {
    cursor: pointer;
}

.fl-row-content-wrap {
    background-color: transparent;
}


/* CSS for the Plugin */

.njba-logo-inner {
    border: none !important;
}

h4 .njba-logo-title {
    height: 15.6px;
    width: 103px;
    color: #767676;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 15px;
}

.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next,
.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
    top: -20px;
}

.bx-wrapper .bx-prev {
    right: 64px !important;
    left: auto !important;
}

.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {
    right: 35px;
}

.brands_slider .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {
    right: -50px;
    top: 50% !important;
}

.brands_slider .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
    left: -50px !important;
    right: auto !important;
    top: 50% !important;
}

#hp-product-2 h3.njba-logo-title {
    padding: 10px 17px 13px;
}

.njba-logo-grid-main .njba-logo-inner {
    margin-bottom: 50px;
}

.card_boxed_img .fl-button {
    margin-bottom: 20px;
}

.njba-tabs .njba-tab-label-inner,
.njba-tabs .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav5c544ed952e66 .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-8 .njba-tabs-nav5c544ed952e66 .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav,
.njba-tabs .njba-tabs-panel-content,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav5c5444b331d1f .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-8 .njba-tabs-nav5c5444b331d1f .njba-tabs-label .njba-tab-label-inner {
    border: none !important;
}

.njba-tabs .njba-tab-title {
    font-weight: 700;
    padding-bottom: 5px;
}

.njba-tab-active .njba-tab-title {
    border-bottom: 3px solid #4A4A4A;
}

.njba-logo-inner {
    background: none;
}

.njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content .button {
    padding: 10px 35px;
    border: 1px solid #6a6a6a;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
    text-shadow: none;
    background: #767676;
    margin: 10px 0 0;
}

.njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content .button:hover {
    background: #fff;
    border-color: #767676;
    color: #767676;
}

.banner-left-section {
    position: relative;
}

.banner-left-section .fl-module {
    z-index: 2;
}

.banner-left-section .paint-img {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}


/* Coupon Banners CSS*/

.couponbanner1 .fl-cta-title,
.couponbanner2 .fl-cta-title,
.couponbanner3 .fl-cta-title {
    padding: 0;
}

.couponbanner1 .fl-cta-button .fl-button .couponbanner2 .fl-cta-button .fl-button,
.couponbanner3 .fl-cta-button .fl-button {
    display: inline-block;
}


/* Nav */

.nav-1 a.fl-callout-title-link.fl-callout-title-text {
    color: #DC515A;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: 0.37px;
    line-height: 13px;
}

.nav-1 .fl-module-content.fl-node-content,
.nav-1 .fl-module-content {
    padding: 5px 0px;
    margin: 0px;
}

.nav-1-menu .fl-menu a {
    font-size: 11px !important;
}

.nav-1-menu .menu a {
    padding-top: 0px !important;
}

.nav-1-logo .fl-photo-align-center {
    text-align: left;
}

.nav-1-logo .fl-photo-align-center img {
    width: 178px;
}

.custom-nav .fl-page-nav-search {
    position: absolute;
    right: auto;
    top: auto;
    left: auto;
}

.wpmm_brand_logo_wrap {
    z-index: 1;
}

.wp-megamenu-wrap .wpmm-nav-wrap>ul {
    flex: 1 1 auto;
    text-align: right;
}

.call-today {
    color: #767676;
    font-family: Roboto;
    font-size: 11px;
    line-height: 23px;
}

.nav-mobile {
    color: #767676;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
}

.nav-small-cart-menu {
    text-align: right;
}

.nav-small-cart-menu ul {
    list-style: none;
    display: inline-flex;
    padding: 2px;
    text-align: right;
    color: #767676;
}

.nav-small-cart-menu ul li {
    padding: 0px 25px;
}

.nav-locations ul {
    list-style: none;
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav-locations ul li {
    width: 20%;
    text-align: center;
}

.nav-locations ul li h3,
.nav-locations ul li span {
    color: #767676;
    margin: 0px;
    font-size: 16px;
}

.nav-address-container {
    text-align: center;
}

.nav-address-container .contactph {
    font-size: 28px;
    color: #767676;
}

.nav-address-container .contactph a,
.nav-address-container a {
    color: #767676;
}

.nav-address-container .socialicons .social-icons li a {
    opacity: 0.5;
}

.nav-address-container .socialicons .social-icons li a:hover {
    opacity: 1;
}

div.nav-cover-image {
    background: transparent;
}

.googlekeyword {
    font-size: 36px !important;
}

@media only screen and (max-width: 1100px) {
    .fl-page-nav-right .fl-page-nav ul.navbar-nav>li {
        margin: 0px;
    }
    .fl-page-nav-right .fl-page-nav ul.navbar-nav>li>a {
        font-size: 13px;
        padding: 15px 10px;
    }
}

.simple-sitemap-page li {
    color: #428bca;
    font-size: 30px;
}

.simple-sitemap-page li a {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    padding-left: 0px;
    vertical-align: middle;
}

.simple-sitemap-page li a:hover {
    color: #428bca;
    padding-left: 10px;
}

.simple-sitemap-page li {
    color: #428bca;
}

.fl-content-slider .fl-slide-bg-link {
    z-index: 99;
}

.product-detail-layout-5 .button-wrapper .button {
    width: 44% !important;
}

.button-wrapper a.button.alt {
    background: #4D3934;
    border-color: #4D3934;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 12px 24px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background: #4d3934;
    border: 1px solid #4d3934;
}

.button-wrapper a.button.alt:hover {
    background-color: #4D3934;
    border-color: #4D3934;
    color: #fff;
}

.active-gallery-modal .product-box a.fl-button:hover {
    background: #fff !important;
}


/* .fl-builder-content a.fl-button {
    display: inline !important;
} */

@media(max-width:400px) {
    .fl-row .fl-row-content .flooring-off-resp {
        width: 100%!important;
    }
    footer .resp-foot-section {
        text-align: left !important;
    }
    .spotlight-layout-3 .fl-col-group .fl-col:last-child .fl-col-content:after {
        position: static !important;
    }
    #responsive-menu-container {
        width: 85% !important;
    }
    .uabb-offcanvas-close-icon-wrapper.uabb-offcanvas-close-icon-position-left-top {
        left: 25px;
    }
}

.header_store>.store_wrapper .title-prefix i {
    margin-left: 5px!important;
}

.content .store-cta-link:before {
    content: "\f061";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    color: #000;
    margin-right: 4px!important;
}

#storeLocation .content a {
    color: #333!important;
    font-size: 14px!important;
}

#storeLocation .content a:hover {
    color: #d4da5f!important;
}

#storeLocation .store-hour.phone {
    color: #333!important;
    font-size: 14px!important;
}

#storeLocation .title-prefix,
.header_store .store-cta-link .title-prefix {
    font-size: 16px!important;
    font-weight: 900!important;
    font-family: "Josefin Sans", sans-serif;
}

#storeLocation .store_wrapper p,
#storeLocation .store_wrapper h5,
#storeLocation .store_wrapper a {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
}

.header_store .title-prefix>a {
    font-weight: 500;
}

.content .store_wrapper {
    padding: 40px 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.28);
    margin: auto;
}

.changeLocation .content {
    padding: 40px 20px;
}

.changeLocation .closebtn {
    position: absolute;
    top: 0;
    left: 15px;
    font-size: 50px;
    margin-left: 20px;
    font-weight: 100;
    color: #9b9b9b!important;
}

.changeLocation .closebtn:hover {
    color: #000;
}

.locationWrapFlyer {
    display: flex;
    justify-content: center;
}

.locationWrapFlyer .icons>i {
    font-size: 34px;
    color: #d4da5f!important;
}

.locationWrapFlyer .icons {
    padding: 0px 12px 12px 12px;
}

.locationWrapFlyer .contentFlyer>p,
.contentFlyer h3 {
    margin: 0px;
}

.locationWrapFlyer .contentFlyer h3 {
    font-size: 18px;
    font-weight: 900;
}

.locationWrapFlyer a#openFlyer {
    font-size: 12px;
    font-style: normal;
    color: #000 !important;
}

.locationWrapFlyer .contentFlyer h3 {
    color: #000!important;
}

#storeLocation .store-hour {
    color: #000!important;
}

#storeLocation .content {
    color: #000;
    width: 90%;
    margin: 0 auto;
}

.contentFlyer * {
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
}

.contentFlyer p {
    letter-spacing: 1px;
    line-height: 0.9em;
    font-size: 15px;
    color: #000 !important;
}

#storeLocation .phoneIcon:before {
    text-indent: 0;
    content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    margin-top: 2px;
}

#storeLocation .store-hour {
    margin-top: 5px;
}

.locationWrapFlyer .contentFlyer {
    background-color: #fff;
    padding: 20px 20px 10px;
    box-shadow: 0px 4px 8px #000;
    border-radius: 5px;
    display: none;
}

.locationWrapFlyer .contentFlyer {
    float: right;
    overflow: hidden!important;
}

.locationWrapFlyer .contentFlyer>div {
    width: 200px;
}

.locationWrapFlyer .icons>i {
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #4a5259!important;
}

.locationWrapFlyer .icons>i:hover {
    cursor: pointer;
}

.locationWrapFlyer .contentFlyer h3 {
    color: #4a5259!important;
    margin-top: 4px;
}

.locationWrapFlyer {
    padding-right: 10px!important;
}

.locationWrapFlyer .contentFlyer h3 {
    margin: 0px!important;
    color: #4a5259!important;
    margin-top: 4px!important;
}

.locationWrapFlyer .contentFlyer p {
    margin: 0px!important;
}

.locationWrapFlyer .contentFlyer h5 {
    margin: 0px!important;
    margin-top: 14px!important;
}

.locationWrapFlyer .contentFlyer .headeropenFlyer {
    letter-spacing: 0.6px;
    font-size: 13px;
}


/* 
.locationWrapFlyer .icons .ua-icon-map-pin:before {
    content: "\e914";
} 
.locationWrapFlyer .ua-icon {
    font-family: 'Ultimate-Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */

.header_store {
    color: black;
    position: fixed;
    top: 25%;
    right: 0;
    z-index: 99999;
}

.changeLocation {
    position: fixed;
    top: 0;
    right: -100%;
    width: 90%;
    max-width: 400px;
    height: 100%;
    overflow: auto;
    background-color: #fff;
    color: #ffff;
    z-index: 9999999;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgb(0 0 0 / 40%);
    box-shadow: 5px 5px 5px 6px rgb(0 0 0 / 40%);
    transition: all 0.6s;
}


/* flyer and header icon css open here .... */

.location-info-section {
    margin: 20px;
    text-align: left;
    border-bottom: 1px solid #D5D5D6;
    padding-bottom: 20px;
}

.location-info-section .location-name {
    font-weight: 500;
    font-size: 22px;
    line-height: 18px;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
    margin: 0 0 10px;
    padding: 0;
}

.location-info-section .location-name b {
    font-weight: 500;
}

.location-info-section .store-add {
    margin: 0 0 10px;
    padding: 0;
    color: #181E2B;
    font-weight: 400;
    font-family: Sen, sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.location-info-section .store-phone {
    color: #B1957F;
    font-size: 22px;
    font-family: Sen, sans-serif;
    line-height: 24px;
    margin: 0;
    padding: 0;
}

.location-info-section .store-phone:hover {
    color: #000;
}

.location-info-section .store-hour-section {
    margin: 20px 0;
    border-top: 1px solid #D5D5D6;
    border-bottom: 1px solid #D5D5D6;
}

.location-info-section .store-hour-section .label {
    color: #181E2B;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.location-info-section .store-hour-section ul.store-opening-hrs li {
    color: #181E2B;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    font-family: Poppins, sans-serif;
    margin: 0;
}

.location-info-section ul.storename .direction a,
.location-info-section a.links,
.location-info-section .fl-button-link,
.location-info-section a.store-cta-link.choose_location {
    background: none;
    border: 0;
    color: #B1957F !important;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    opacity: 1;
    margin: 0 0 7px;
    padding: 0;
    cursor: pointer;
    text-decoration: underline;
    display: block !important;
    text-transform: uppercase;
    font-family: Poppins, sans-serif;
}

.location-info-section .fl-button-link:hover,
.location-info-section a.store-cta-link.choose_location:hover,
.location-info-section a.links:hover,
.location-info-section ul.storename .direction a:hover span {
    text-decoration: underline;
    color: #000 !important;
}

.location-info-section ul.storename .direction a span {
    color: #B1957F !important;
}

.location-info-section ul.storename .direction a:hover {
    background: none;
}

.header-location-info-section {
    display: flex;
    border-left: solid 1px #000;
    padding: 12px 24px;
}

.header-location-info-section i {
    font-size: 30px;
    margin-right: 8px;
}

.header-location-info-section .location-name {
    font-weight: 700;
    font-size: 14px;
    text-align: left;
    color: #000000;
    margin: 0 0 5px;
}

.header-location-info-section .fl-button-link {
    color: #767676;
    font-weight: 300;
    font-size: 12px;
    line-height: 2px;
    text-align: left;
    vertical-align: middle;
    display: block;
}

.location-info-section a.store-cta-link.choose_location {
    background: #000;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #fff !important;
}
.location-info-section a.store-cta-link.choose_location:hover{
	background: #B1957F !important;
	color: #fff !important;
	text-decoration: none;
}
/* flyer and header icon css open here .... */